.container{
    padding-bottom: 50px;
    
  
   
}
.row{
    padding-top: 10px;
    box-shadow:4px 4px 10px rgb(12, 24, 27) ;
    // padding-bottom: 50px;
}
#t{
    padding-top: 30px;
    padding-bottom: 30px;
}
.write{
    padding-left: 10%;
}






