.row {
  margin-top: 50px;
  margin-left: 15px;
}
.card-img-top {
  height: 250px;
  width: auto;
}

.cardStyle {
  width: 25rem;
  border: 0;
  text-align: center;
  cursor: pointer;
}

//  section2
.home-wrapper {
  > * {
    margin-bottom: 20px;
    border-bottom: 3px dotted #bbb;
  }
}
