.card-wrapper {
  display: flex;
  justify-content: space-around;
}

.cardStyle {
  border: 0;
  text-align: center;
  margin: 10px;
}

.product-image {
  object-fit: contain;
  width: 100%;
  height: 250px;
}

.align-center {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.filter-wrapper {
  position: relative;
  .sort-dropdown {
    position: absolute;
    right: 0;
    top: 10px;
  }
}
.list-container {
  margin-top: 20px;
}
