<div class="filter-wrapper">
  <app-searchbar (searchTextChanged)="onSearchTextEntered($event)"></app-searchbar>
  <div class="dropdown sort-dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
      aria-expanded="false">
      {{selectedSortOption.title}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li *ngFor="let option of sortOptions"><a class="dropdown-item" (click)="changeSort(option)">{{ option.title}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="row list-container">
  <div class="col-sm-4" *ngFor="let data of prod">
    <div class="card-wrapper">
      <div class="card cardStyle">
        <img class="product-image" src={{data.prod_img}} alt="" routerLink="/details/{{ data.prod_id }}">
        <div class="card-body">
          <h5 class="card-title"><b>{{data.prod_name}}</b></h5>
          <h5 class="card-title"><b> {{data.prod_rating}}</b></h5>
          <h5 class="card-title" style="color: red;"><b>₹{{data.prod_price}}</b></h5>
          <button type="button" class="btn btn-success" routerLink="/details/{{ data.prod_id }}">products
            details</button>&nbsp;
          <button type="button" class="btn btn-info" (click)="addToCart(data)">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
